.informacoes {
    padding: 5em 0 3em 0;
    background-color: var(--branco);
    text-align: center;
    color: var(--preto);
}

.titulo {
    font-size: 3em;
    font-weight: 700;
    margin: 0;
}

.lista {
    padding: 3em;
}

.lista__link {
    display: inline-block;
    width: 25%;
    padding: 0 1em;
    margin: 0 0 0 -4px;
    vertical-align: top;
    transition: 0.5s;
}

#icon__border {
    border-right: 2px solid var(--cinza);
}

#icon__noneborder {
    border: none;
}

.lista__link__texto {
    font-size: 1.5em;
    padding: 1em;
}

.lista__link__icon {
    width: 60px;
    padding: 2em 0 0.5em;
    border-bottom: 3px solid var(--azul);
    transition: 0.5s;
}

.lista__link__icon:hover {
    width: 70px;
    border-bottom: 3px solid var(--laranja);
    transition: 0.3s;
}